GROQ_API_KEY=
GROQ_BASE_URL=https://api.groq.com/openai/v1
GROQ_MODEL=llama-3.3-70b-versatile

EMBEDDER_MODEL_NAME=sentence-transformers/all-MiniLM-L6-v2

CHAT_MAX_RETRIES=3
CHAT_RETRY_MAX_WAIT=20
CHAT_LOG_DIR=logs

ELEVENLABS_API_KEY=
ELEVENLABS_VOICE_ID=vChnJZ1Cu89g2XXumPfT
ELEVENLABS_MODEL_ID=eleven_multilingual_v2
ELEVENLABS_OUTPUT_FORMAT=mp3_44100_128
